.logo{
  width: 10%;
  height: 10%;
  padding: 1rem;
}

.user_icon{
  width: 7%;
  height: 7%;
}

/* .user{
  display: flex;
  align-items: end;
} */

/* .body{
  background-color: bisque;
} */

.header{
  display: flex;
  flex-direction: row;
  align-items: end;
  flex-flow: row-reverse;   
}
/* .example-container-sidenav {
    width: 100%;
    height: 100%;
    background-color: rgb(70, 68, 68);
} */

/* .container{
  height: 80%;
} */

.toggle_button {
  margin-top: 1rem;
  margin-left: 1rem;
  margin-bottom: 1rem;
  background-color: white;
  border-radius: 41%;
}

/* .right {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
} */

.right {
  position: fixed;
  bottom: 0;
  width: 100%;
}