<div class="container">
    <button mat-raised-button (click)="drawer.toggle()" class="toggle_button">Menu</button>
    <mat-drawer-container class="example-container-sidenav">
        <mat-drawer #drawer mode="side" opened>
            <div class="left">
                <app-sidebar></app-sidebar>
            </div>
        </mat-drawer>
        <mat-drawer-content class="example-container">
            <div>
                <app-chats [prompt]="prompt"></app-chats>
            </div>
        </mat-drawer-content>
    </mat-drawer-container>
    <div class="right">
        <app-prompt (inputValueChange)="updatePrompt($event)"></app-prompt>
    </div>
</div>