<div class="chat">
  <mat-accordion class="chats">
    <mat-expansion-panel *ngFor="let prompt of prompts" (opened)="panelOpenState.set(true)" (closed)="panelOpenState.set(false)">
      <mat-expansion-panel-header>
        <mat-panel-title> {{ prompt.slice(0, 1000) }} </mat-panel-title>
        <!-- <mat-panel-description>
          Currently I am {{panelOpenState() ? 'open' : 'closed'}}
        </mat-panel-description> -->
      </mat-expansion-panel-header>
      <p>Hi</p>
    </mat-expansion-panel>
  </mat-accordion>
</div>