<mat-list class="cards">
    <mat-list-item class="card"><mat-card appearance="outlined">
            <mat-card-content>Simple card</mat-card-content>
        </mat-card></mat-list-item>
    <mat-list-item class="card"><mat-card appearance="outlined">
            <mat-card-content>Simple card</mat-card-content>
        </mat-card></mat-list-item>
    <mat-list-item class="card"><mat-card appearance="outlined">
            <mat-card-content>Simple card</mat-card-content>
        </mat-card></mat-list-item>
    <mat-list-item class="card"><mat-card appearance="outlined">
            <mat-card-content>Simple card</mat-card-content>
        </mat-card></mat-list-item>
    <mat-list-item class="card"><mat-card appearance="outlined">
            <mat-card-content>Simple card</mat-card-content>
        </mat-card></mat-list-item>
    <mat-list-item class="card"><mat-card appearance="outlined">
            <mat-card-content>Simple card</mat-card-content>
        </mat-card></mat-list-item>
    <mat-list-item class="card"><mat-card appearance="outlined">
            <mat-card-content>Simple card</mat-card-content>
        </mat-card></mat-list-item>
    <mat-list-item class="card"><mat-card appearance="outlined">
            <mat-card-content>Simple card</mat-card-content>
        </mat-card></mat-list-item>
    <mat-list-item class="card"><mat-card appearance="outlined">
            <mat-card-content>Simple card</mat-card-content>
        </mat-card></mat-list-item>
    <mat-list-item class="card"><mat-card appearance="outlined">
            <mat-card-content>Simple card</mat-card-content>
        </mat-card></mat-list-item>
</mat-list>